/*

Search.html Style sheet
Created By James Black
MIU: 1306

*/

/* CSS RESET */
html,img,body,div,span,h1,p,a,em,ul,li,fieldset,form,label,legend,article,header{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,header{display:block}body{line-height:1}ol,ul{list-style:none}

.ui-page.ui-body-c.ui-page-active {
	background-color: #3F3F3F;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}







